<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <% if current_user %>
    <h1 class="display-3"> Welcome back, <%=current_user.name%>! </h1>
    <%else%>
    <h1 class="display-3">Welcome to SuperTUBE!</h1>
    <%end%>
    <p style="color:white">This is an assignemt for my CSCI3340, software engineering I. The purpose of this is to recreate youtube using HTML,CSS,JS, and RUBY.</p>
    <p><a class="btn btn-primary btn-lg" href="/videos" role="button" style="color:white;">Start watching videos &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Free User</h2>
      <p>As a free user you will still be able to view most of the content that is posted by the administrator. However not exlusive content for pro users that 
      consist of the better quality videos. </p>
      <p><a class="btn btn-secondary" href="/sign_up" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Pro User</h2>
      <p>As a pro user you can view everything that is posted on this website the only
      thing that you're limited on is not being able to post any videos. As a pro user
    you will be able to see the new videos right away compared to regular users.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

</div> <!-- /container -->


<style type="text/css">
  @import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
  @import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
  @import url('https://fonts.googleapis.com/css?family=Bungee+Outline');
  @import url('https://fonts.googleapis.com/css?family=Yeseva+One');
  .jumbotron{
   background-image: url(https://images.pexels.com/photos/158826/structure-light-led-movement-158826.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: 100%;
    }
    h1{

     font-family: 'Yeseva One', cursive;
     font-weight: bolder;
     color: white;
    }

  }
</style>