<div class="container">
<center>
<% @videos.each do |v| %>

		<h1> <%= v.title %> </h1>
		<p> <%= v.description %> </p>
		<%= youtube_embed(v.video_url) %>
<% end %>
</center>
</div>


<!------------------------------------------------->
<style type="text/css">
	.container{

		background-image: url("https://images.pexels.com/photos/988873/pexels-photo-988873.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

		background-size: 100%;
	}
</style>
 
